[Desktop Entry]
Type=Application
Name=Unified Google Calendar
Comment=All your Google accounts in one calendar
Exec=unified-google-calendar
Icon=unified-google-calendar
Terminal=false
Categories=Office;Calendar;
StartupWMClass=unified-google-calendar
X-GNOME-UsesNotifications=true
